USE [Telecom  System]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateExtraCharges]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   function [dbo].[fn_CalculateExtraCharges](@subscription_id int)
returns decimal (10,2)
as
begin
    declare @extra decimal(10,2) = 0;

    select @extra =
        (case when remaining_minutes < 0 then ABS(remaining_minutes) * 0.5 else 0 end) +
        (case when remaining_sms < 0 then ABS(remaining_sms) * 0.1 else 0 end) +
        (case when remaining_data < 0 then ABS(remaining_data) * 0.05 else 0 end)
    from fn_RemainingUsage(@subscription_id);
    return isnull(@extra,0);
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetPlanPrice]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_GetPlanPrice](@plan_id int)
returns int
as
begin
	declare @price int;
	select @price = monthly_fee
	from ServicePlan
	where plan_id = @plan_id;
	return @price;
end

GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsOverLimit]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_IsOverLimit](@subscription_id INT)
returns varchar(20)
as
begin
    declare @status VARCHAR(20);

     if exists (
       select 1
        from fn_RemainingUsage(@subscription_id)
        where remaining_minutes < 0
           or remaining_sms < 0
           or remaining_data < 0
    )
        set @status = 'Over Limit';
    else
        set @status = 'Within Limit';

    return @status;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SubscriptionStatus]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_SubscriptionStatus](@start_date DATE,@end_date DATE)
returns varchar(20)
as
begin
	if @end_date IS NULL OR @end_date >= GETDATE()
		return 'active';
	return 'expired';
end

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalDataUsed]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_TotalDataUsed](@subscription_id int)
returns int
as
begin
	declare @total_data int;

	select @total_data = isnull(sum(data_used), 0)
	from Usage_Records
	where subscription_id = @subscription_id;
	return @total_data;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalMinutesUsed]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_TotalMinutesUsed](@subscription_id int)
returns int
AS
begin
	declare @total_minutes int;
	select @total_minutes = isnull(sum(minutes_used), 0)
	from Usage_Records
	where subscription_id = @subscription_id;
	return @total_minutes;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalRevenuePerSubscription]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   function  [dbo].[fn_TotalRevenuePerSubscription](@subscription_id int)
returns decimal (10,2)
as
begin

    declare @total decimal(10,2);
    select @total =
       dbo.fn_GetPlanPrice(plan_id) +
         dbo.fn_CalculateExtraCharges(@subscription_id)
    from Subscription
    where subscription_id = @subscription_id;
    return isnull(@total,0);
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalsmsUsed]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_TotalsmsUsed](@subscription_id int)
returns int
as
begin
	declare @total_sms int;

	select @total_sms= isnull(sum(sms_used), 0)
	from Usage_Records
	where subscription_id = @subscription_id;
	return @total_sms;
end

GO
/****** Object:  Table [dbo].[Usage_Records]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usage_Records](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[subscription_id] [int] NULL,
	[usage_date] [date] NULL,
	[minutes_used] [int] NULL,
	[data_used] [int] NULL,
	[sms_used] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalUsed]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_TotalUsed] (@subscription_id int)
returns table
as
return
(
    select
        isnull(sum(minutes_used), 0) AS total_minutes,
        isnull(sum(sms_used), 0)     AS total_sms,
        isnull(sum(data_used), 0)    AS total_data
    from Usage_Records
    where subscription_id = @subscription_id
);
GO
/****** Object:  Table [dbo].[ServicePlan]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePlan](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[plan_name] [varchar](50) NULL,
	[monthly_fee] [float] NULL,
	[minutes_limit] [int] NULL,
	[data_limit] [int] NULL,
	[sms_limit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[subscription_id] [int] IDENTITY(1,1) NOT NULL,
	[SIM_ID] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [varchar](30) NULL,
	[plan_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RemainingUsage]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   function [dbo].[fn_RemainingUsage] (@subscription_id int)
returns table
as
return
(
    select
        sp.minutes_limit - isnull(sum(u.minutes_used),0) as remaining_minutes,
        sp.sms_limit     - isnull(sum(u.sms_used),0)     as remaining_sms,
        sp.data_limit    - isnull(sum(u.data_used),0)    as remaining_data
    FROM Subscription s join ServicePlan sp 
			ON s.plan_id = sp.plan_id
     left join Usage_Records u
			ON s.subscription_id = u.subscription_id
    where s.subscription_id = @subscription_id
    group by sp.minutes_limit, sp.sms_limit, sp.data_limit
);
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[f_name] [varchar](50) NULL,
	[L_name] [varchar](50) NULL,
	[gender] [varchar](2) NULL,
	[national_id] [varchar](20) NOT NULL,
	[email] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[Registration_Date] [date] NULL,
	[Card_num] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM_Card]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM_Card](
	[SIM_ID] [int] IDENTITY(1,1) NOT NULL,
	[SIM_Number] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Active_Subscriptions]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Active_Subscriptions]
AS
SELECT
    c.customer_id,
    c.f_name,
    c.l_name,
    sc.SIM_Number,
    sp.plan_name,
    s.start_date,
    s.end_date
FROM Customers c
JOIN SIM_Card sc ON c.customer_id = sc.CustomerID
JOIN Subscription s ON sc.SIM_ID = s.SIM_ID
JOIN ServicePlan sp ON s.plan_id = sp.plan_id
WHERE s.status = 'active';
GO
/****** Object:  View [dbo].[vw_Invalid_Usage]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Invalid_Usage]
AS
SELECT
    u.usage_id,
    u.subscription_id
FROM Usage_Records u
LEFT JOIN Subscription s
    ON u.subscription_id = s.subscription_id
WHERE s.subscription_id IS NULL;
GO
/****** Object:  View [dbo].[vw_OverUsage_Subscriptions]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OverUsage_Subscriptions]
AS
SELECT
    s.subscription_id,
    sp.plan_name,
    sp.minutes_limit,
    sp.data_limit,
    sp.sms_limit,

    COALESCE(SUM(u.minutes_used),0) AS total_minutes,
    COALESCE(SUM(u.data_used),0) AS total_data,
    COALESCE(SUM(u.sms_used),0) AS total_sms,

    CASE 
        WHEN COALESCE(SUM(u.minutes_used),0) > sp.minutes_limit 
        THEN 'Exceeded'
        ELSE 'Within Limit'
    END AS minutes_status,

    CASE 
        WHEN COALESCE(SUM(u.data_used),0) > sp.data_limit 
        THEN 'Exceeded'
        ELSE 'Within Limit'
    END AS data_status,

    CASE 
        WHEN COALESCE(SUM(u.sms_used),0) > sp.sms_limit 
        THEN 'Exceeded'
        ELSE 'Within Limit'
    END AS sms_status

FROM Subscription s
JOIN ServicePlan sp ON s.plan_id = sp.plan_id
LEFT JOIN Usage_Records u ON s.subscription_id = u.subscription_id

WHERE s.status = 'active'

GROUP BY
    s.subscription_id,
    sp.plan_name,
    sp.minutes_limit,
    sp.data_limit,
    sp.sms_limit;
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](50) NOT NULL,
	[manager_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NULL,
	[f_name] [varchar](50) NULL,
	[L_name] [varchar](50) NULL,
	[salary] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[Complaint_ID] [int] IDENTITY(1,5) NOT NULL,
	[ComplaintDate] [date] NULL,
	[IssueType] [varchar](100) NULL,
	[Status] [varchar](30) NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Complaint_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Employee_Performance]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Employee_Performance]
AS
SELECT
    e.employee_id,
    e.f_name,
    e.l_name,
    d.department_name,

    COUNT(c.Complaint_ID) AS total_complaints,

    CASE
        WHEN COUNT(c.Complaint_ID) > 50 THEN 'High Workload'
        WHEN COUNT(c.Complaint_ID) BETWEEN 20 AND 50 THEN 'Moderate'
        ELSE 'Low Workload'
    END AS workload_level

FROM Employee e
LEFT JOIN Complaint c ON e.employee_id = c.EmployeeID
LEFT JOIN Department d ON e.department_id = d.department_id

GROUP BY
    e.employee_id,
    e.f_name,
    e.l_name,
    d.department_name;
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[subscription_id] [int] NOT NULL,
	[payment_amount] [decimal](10, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_method] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription_Audit]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription_Audit](
	[audit_id] [int] IDENTITY(1,1) NOT NULL,
	[subscription_id] [int] NULL,
	[old_status] [varchar](30) NULL,
	[new_status] [varchar](30) NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subscription_Audit] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Customer]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Employee]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Manager]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Subscription] FOREIGN KEY([subscription_id])
REFERENCES [dbo].[Subscription] ([subscription_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Subscription]
GO
ALTER TABLE [dbo].[SIM_Card]  WITH CHECK ADD  CONSTRAINT [FK_SIM_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[SIM_Card] CHECK CONSTRAINT [FK_SIM_Customer]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Plan] FOREIGN KEY([plan_id])
REFERENCES [dbo].[ServicePlan] ([plan_id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Plan]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_SIM_Card] FOREIGN KEY([SIM_ID])
REFERENCES [dbo].[SIM_Card] ([SIM_ID])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_SIM_Card]
GO
ALTER TABLE [dbo].[Usage_Records]  WITH CHECK ADD  CONSTRAINT [FK_Usage_Subscription] FOREIGN KEY([subscription_id])
REFERENCES [dbo].[Subscription] ([subscription_id])
GO
ALTER TABLE [dbo].[Usage_Records] CHECK CONSTRAINT [FK_Usage_Subscription]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([gender]='F' OR [gender]='M'))
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='suspended' OR [status]='active'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignComplaint]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AssignComplaint]
    @Complaint_ID INT,
    @Employee_ID INT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Complaint
        SET EmployeeID = @Employee_ID,
            Status = 'Assigned'
        WHERE Complaint_ID = @Complaint_ID;

        INSERT INTO Complaint_Audit
        (Complaint_ID, action_type, action_date)
        VALUES
        (@Complaint_ID, 'Assigned to Employee', GETDATE())

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AvgActivationDelay]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AvgActivationDelay]
AS
BEGIN
    WITH FirstSubscription AS (
        SELECT 
            c.customer_id,
            c.Registration_Date,
            MIN(sub.start_date) AS First_Subscription_Date
        FROM Customers c
        JOIN SIM_Card s
            ON c.customer_id = s.CustomerID
        JOIN Subscription sub
            ON s.SIM_ID = sub.SIM_ID
        GROUP BY c.customer_id, c.Registration_Date
    )
    SELECT 
        AVG(DATEDIFF(DAY, Registration_Date, First_Subscription_Date)) 
            AS AvgActivationDelayDays
    FROM FirstSubscription
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AvgUsageByPlan]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AvgUsageByPlan]
AS
BEGIN
    WITH SubscriptionUsage AS (
        SELECT 
            s.subscription_id,
            p.plan_name,
            SUM(u.minutes_used) AS total_minutes,
            SUM(u.data_used) AS total_data,
            SUM(u.sms_used) AS total_sms
        FROM Subscription s
        JOIN ServicePlan p
            ON s.plan_id = p.plan_id
        JOIN Usage_Records u
            ON s.subscription_id = u.subscription_id
        WHERE s.status = 'active'
        GROUP BY s.subscription_id, p.plan_name
    )
    SELECT 
        plan_name,
        AVG(total_minutes) AS avg_minutes,
        AVG(total_data) AS avg_data,
        AVG(total_sms) AS avg_sms
    FROM SubscriptionUsage
    GROUP BY plan_name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateARPU]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CalculateARPU]
AS
BEGIN
    WITH Revenue AS (
        SELECT 
            YEAR(start_date) AS Year,
            MONTH(start_date) AS Month,
            SUM(p.monthly_fee) AS TotalRevenue
        FROM Subscription s
        JOIN ServicePlan p
            ON s.plan_id = p.plan_id
        WHERE s.status = 'active'
        GROUP BY YEAR(start_date), MONTH(start_date)
    ),
    ActiveCustomers AS (
        SELECT 
            YEAR(sub.start_date) AS Year,
            MONTH(sub.start_date) AS Month,
            COUNT(DISTINCT c.customer_id) AS ActiveCustomers
        FROM Customers c
        JOIN SIM_Card sim ON c.customer_id = sim.CustomerID
        JOIN Subscription sub ON sim.SIM_ID = sub.SIM_ID
        WHERE sub.status = 'active'
        GROUP BY YEAR(sub.start_date), MONTH(sub.start_date)
    )
    SELECT 
        r.Year,
        r.Month,
        CAST(r.TotalRevenue * 1.0 / ac.ActiveCustomers as decimal(10,2)) AS ARPU
    FROM Revenue r
    JOIN ActiveCustomers ac
        ON r.Year = ac.Year AND r.Month = ac.Month
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePlan]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ChangePlan]
    @Subscription_ID INT,
    @New_Plan_ID INT,
    @Change_Date DATE
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON -- auto rollback when error

    BEGIN TRY
        BEGIN TRANSACTION

        DECLARE @SIM_ID INT

        -- 1️ sim related to current Subscription
        SELECT @SIM_ID = SIM_ID
        FROM Subscription
        WHERE subscription_id = @Subscription_ID
          AND status = 'Active'

        IF @SIM_ID IS NULL
        BEGIN
            RAISERROR('Active subscription not found.',16,1)
            ROLLBACK
            RETURN
        END

        -- 2️ end old Subscription
        UPDATE Subscription
        SET 
            end_date = DATEADD(DAY, -1, @Change_Date),
            status = 'Ended'
        WHERE subscription_id = @Subscription_ID

        -- 3️ create new Subscription
        INSERT INTO Subscription
        (SIM_ID, plan_id, start_date, status)
        VALUES
        (@SIM_ID, @New_Plan_ID, @Change_Date, 'Active')

        -- 4️  Log
        INSERT INTO Subscription_Log
        (SIM_ID, action_type, action_date)
        VALUES
        (@SIM_ID, 'Plan Changed', GETDATE())

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplaintsByEmployee]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ComplaintsByEmployee]
AS
BEGIN
    SELECT 
        e.employee_id,
        e.f_name,
        e.L_name,
        COUNT(c.Complaint_ID) AS ComplaintsHandled
    FROM Employee e
    LEFT JOIN Complaint c
        ON e.employee_id = c.EmployeeID
    GROUP BY e.employee_id, e.f_name, e.L_name
	order by COUNT(c.Complaint_ID) desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplaintsMonthly]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ComplaintsMonthly]
AS
BEGIN
    SELECT 
        YEAR(ComplaintDate) AS Year,
        MONTH(ComplaintDate) AS Month,
        COUNT(*) AS TotalComplaints
    FROM Complaint
    GROUP BY YEAR(ComplaintDate), MONTH(ComplaintDate)
    ORDER BY Year, Month
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSubscription]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateSubscription]
    @SIM_ID INT,
    @Plan_ID INT,
    @Start_Date DATE
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- auto rollback when error 

    BEGIN TRY
        BEGIN TRANSACTION

        -- 1️ create Subscription
        INSERT INTO Subscription (SIM_ID, plan_id, start_date, status)
        VALUES (@SIM_ID, @Plan_ID, @Start_Date, 'Active');

        -- 2️ active  SIM
        UPDATE SIM_Card
        SET Status = 'Active',
            ActivationDate = ISNULL(ActivationDate, GETDATE())
        WHERE SIM_ID = @SIM_ID

        -- 3️ Log
        INSERT INTO Subscription_Log (SIM_ID, action_type, action_date)
        VALUES (@SIM_ID, 'Activated', GETDATE())

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION

        THROW -- give exception 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveCustomersCount]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActiveCustomersCount]
AS
BEGIN
    SELECT COUNT(DISTINCT c.customer_id) AS ActiveCustomers
    FROM Customers c
    JOIN SIM_Card s
        ON c.customer_id = s.CustomerID
    JOIN Subscription sub
        ON s.SIM_ID = sub.SIM_ID
    WHERE sub.status = 'active'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIdleCustomers]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetIdleCustomers]
AS
BEGIN
    SELECT DISTINCT c.customer_id, c.f_name, c.L_name
    FROM Customers c
    JOIN SIM_Card s
        ON c.customer_id = s.CustomerID
    WHERE NOT EXISTS (
        SELECT 1
        FROM Subscription sub
        WHERE sub.SIM_ID = s.SIM_ID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNewCustomersByMonth]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetNewCustomersByMonth]
AS
BEGIN
    SELECT 
        YEAR(Registration_Date) AS Year,
        MONTH(Registration_Date) AS Month,
        COUNT(*) AS NewCustomers
    FROM Customers
    GROUP BY 
        YEAR(Registration_Date),
        MONTH(Registration_Date)
    ORDER BY Year, Month
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LostRevenue]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LostRevenue]
AS
BEGIN
    SELECT 
        YEAR(end_date) AS Year,
        MONTH(end_date) AS Month,
        SUM(p.monthly_fee) AS LostRevenue
    FROM Subscription s
    JOIN ServicePlan p
        ON s.plan_id = p.plan_id
    WHERE s.status = 'Cancelled'
    GROUP BY YEAR(end_date), MONTH(end_date)
    ORDER BY Year, Month
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlyRevenue]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MonthlyRevenue]
AS
BEGIN
    SELECT 
        YEAR(start_date) AS Year,
        MONTH(start_date) AS Month,
        SUM(p.monthly_fee) AS MonthlyRevenue
    FROM Subscription s
    JOIN ServicePlan p
        ON s.plan_id = p.plan_id
    WHERE s.status = 'active'
    GROUP BY YEAR(start_date), MONTH(start_date)
    ORDER BY Year, Month
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OverUsageSubscriptions]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OverUsageSubscriptions]
AS
BEGIN
    WITH UsageSummary AS (
        SELECT 
            s.subscription_id,
            p.plan_name,
            SUM(u.minutes_used) AS total_minutes,
            SUM(u.data_used) AS total_data,
            SUM(u.sms_used) AS total_sms,
            p.minutes_limit,
            p.data_limit,
            p.sms_limit
        FROM Subscription s
        JOIN ServicePlan p ON s.plan_id = p.plan_id
        JOIN Usage_Records u ON s.subscription_id = u.subscription_id
        WHERE s.status = 'active'
        GROUP BY 
            s.subscription_id,
            p.plan_name,
            p.minutes_limit,
            p.data_limit,
            p.sms_limit
    )
    SELECT 
        plan_name,
        COUNT(*) AS OverUsageSubscriptions
    FROM UsageSummary
    WHERE 
        total_minutes > minutes_limit
        OR total_data > data_limit
        OR total_sms > sms_limit
    GROUP BY plan_name
	order by COUNT(*) desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RepeatedComplaints]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RepeatedComplaints]
AS
BEGIN
    SELECT 
        c.customer_id,
        c.f_name,
        c.L_name,
        COUNT(comp.Complaint_ID) AS ComplaintsCount
    FROM Customers c
    JOIN Complaint comp
        ON c.customer_id = comp.CustomerID
    GROUP BY c.customer_id, c.f_name, c.L_name
    HAVING COUNT(comp.Complaint_ID) > 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RevenueByPlan]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RevenueByPlan]
AS
BEGIN
    SELECT 
        p.plan_name,
        COUNT(s.subscription_id) AS ActiveSubscriptions,
        SUM(p.monthly_fee) AS TotalRevenue
    FROM Subscription s
    JOIN ServicePlan p
        ON s.plan_id = p.plan_id
    WHERE s.status = 'active'
    GROUP BY p.plan_name
	order by SUM(p.monthly_fee) desc, COUNT(s.subscription_id) desc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ZeroUsage]    Script Date: 2/14/2026 5:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ZeroUsage]
AS
BEGIN
    SELECT 
        s.subscription_id,
        p.plan_name
    FROM Subscription s
    JOIN ServicePlan p ON s.plan_id = p.plan_id
    WHERE s.status = 'active'
    AND NOT EXISTS (
        SELECT 1
        FROM Usage_Records u
        WHERE u.subscription_id = s.subscription_id
    )
END
GO
